In [1]:
from utils.eval import *
from utils.chat import *

%load_ext autoreload
%autoreload 2

/Users/paul/anaconda3/envs/ClinicalNotes/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
path = 'data/fake_data.jsonl'
eval_test_data = pd.read_json(path, lines=True)
display(eval_test_data)

,gold,pred
0,"{'key1': 'value1', 'key2': 'None', 'key3': {'s...","{'key1': 'different_value1', 'key3': {'sub_key..."
1,"{'key1': 'None', 'key2': 'value2', 'key3': {'s...","{'key1': 'None', 'key2': 'different_value2', '..."
2,"{'key1': 'value3', 'key2': 'None', 'key3': {'s...","{'key1': 'Modified_value3', 'key2': 'None', 'k..."
3,"{'key1': 'None', 'key2': 'value4', 'key3': {'s...","{'key2': 'Modified_value4', 'key3': {'sub_key2..."
4,"{'key1': 'value5', 'key2': 'None', 'key3': {'s...","{'key1': 'value5', 'key2': 'None', 'key3': {'s..."
5,"{'key1': 'None', 'key2': 'value6', 'key3': {'s...","{'key1': 'None', 'key2': 'Modified_value6', 'k..."
6,"{'key1': 'value7', 'key2': 'None', 'key3': {'s...","{'key1': 'Modified_value7', 'key3': {'sub_key1..."
7,"{'key1': 'None', 'key2': 'value8', 'key3': {'s...","{'key2': 'value8', 'key3': {'sub_key1': 'Modif..."
8,"{'key1': 'value9', 'key2': 'None', 'key3': {'s...","{'key1': 'value9', 'key2': 'None', 'key3': {'s..."
9,"{'key1': 'None', 'key2': 'value10', 'key3': {'...","{'key2': 'value10', 'key3': {'sub_key2': 'Modi..."

In [4]:
eval_dataset, by_keys = summary_evaluation(path)

Computing BLEU scores: 100%|██████████| 24/24 [00:00<00:00, 255.45it/s]
Computing ROUGE scores: 100%|██████████| 24/24 [00:04<00:00,  5.62it/s]

Computing BERT scores...

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

BERTscores computed.
GPT-4 scoring...

Building score prompts: 100%|██████████| 3/3 [00:00<00:00, 666.82it/s]
Building sub-batches: 100%|██████████| 3/3 [00:00<00:00, 29.67it/s]

Sub_batch 1/1: 3 calls, 536 total tokens: 0.00536$

,gold_none_keys,pred_none_keys,missing_keys,missing_keys_count,extra_keys_count,common_none_count,gold_none_count,pred_none_count,common,total,keys,pairs,bleu,rouge1,rouge2,rougeL,rougeLsum,bert,gpt_score
0,"[key2, key3/sub_key2]",[],[key2],1,0,0,2,0,2,4,"[key1, key3/sub_key1]","[{'gold': 'value1', 'pred': 'different_value1'...","[0.0, 0.0]","[0.6666666666666666, 1.0]","[0.0, 1.0]","[0.6666666666666666, 1.0]","[0.6666666666666666, 1.0]","[0.8535525798797607, 1.0]","[1, 10]"
1,[key3/sub_key1],[],"[key3/sub_key1, key3/sub_key2]",2,2,1,1,0,4,6,"[key2, key3/sub_key2, key4/sub_key1, key4/sub_...","[{'gold': 'value2', 'pred': 'different_value2'...","[0.0, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.854524552822113, 0.8841435313224792, 0.9032...","[1, 1, 1, 1]"
2,[key3/sub_key2],[],[key3/sub_key2],1,0,1,1,0,2,4,"[key1, key3/sub_key1]","[{'gold': 'value3', 'pred': 'Modified_value3'}...","[0.0, 0.0]","[0.6666666666666666, 1.0]","[0.0, 1.0]","[0.6666666666666666, 1.0]","[0.6666666666666666, 1.0]","[0.8470768928527832, 1.0]","[9, 10]"
3,"[key1, key3/sub_key1]",[],"[key1, key3/sub_key1]",2,0,0,2,0,2,4,"[key2, key3/sub_key2]","[{'gold': 'value4', 'pred': 'Modified_value4'}...","[0.0, 0.0]","[0.6666666666666666, 0.4]","[0.0, 0.0]","[0.6666666666666666, 0.4]","[0.6666666666666666, 0.4]","[0.8506430387496948, 0.9329285621643066]","[1, 9]"
4,[key3/sub_key2],[],[key3/sub_key2],1,0,1,1,0,2,4,"[key1, key3/sub_key1]","[{'gold': 'value5', 'pred': 'value5'}, {'gold'...","[0.0, 0.0]","[1.0, 0.8]","[0.0, 0.6666666666666666]","[1.0, 0.8]","[1.0, 0.8]","[1.0, 0.9681345820426941]","[10, 8]"
5,[key3/sub_key1],[],"[key3/sub_key1, key3/sub_key2]",2,2,1,1,0,4,6,"[key2, key3/sub_key2, key4/sub_key1, key4/sub_...","[{'gold': 'value6', 'pred': 'Modified_value6'}...","[0.0, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.6666666666666666, 0.0, 0.0, 0.0]","[0.8491595387458801, 0.8830726146697998, 0.903...","[9, 2, 1, 2]"
6,"[key2, key3/sub_key2]",[],[key2],1,0,0,2,0,2,4,"[key1, key3/sub_key1]","[{'gold': 'value7', 'pred': 'Modified_value7'}...","[0.0, 0.0]","[0.6666666666666666, 1.0]","[0.0, 1.0]","[0.6666666666666666, 1.0]","[0.6666666666666666, 1.0]","[0.8512230515480042, 0.9999998807907104]","[7, 10]"
7,"[key1, key3/sub_key1]",[],"[key1, key3/sub_key2]",2,0,0,2,0,2,4,"[key2, key3/sub_key2]","[{'gold': 'value8', 'pred': 'value8'}, {'gold'...","[0.0, 0.0]","[1.0, 0.0]","[0.0, 0.0]","[1.0, 0.0]","[1.0, 0.0]","[0.9999998807907104, 0.8852429389953613]","[10, 1]"
8,[key3/sub_key2],[],[key3/sub_key2],1,0,1,1,0,2,4,"[key1, key3/sub_key1]","[{'gold': 'value9', 'pred': 'value9'}, {'gold'...","[0.0, 0.0]","[1.0, 0.8]","[0.0, 0.6666666666666666]","[1.0, 0.8]","[1.0, 0.8]","[1.0, 0.9702008366584778]","[10, 8]"
9,"[key1, key3/sub_key1]",[],"[key1, key3/sub_key1]",2,0,0,2,0,2,4,"[key2, key3/sub_key2]","[{'gold': 'value10', 'pred': 'value10'}, {'gol...","[0.0, 0.0]","[1.0, 0.8]","[0.0, 0.6666666666666666]","[1.0, 0.8]","[1.0, 0.8]","[0.9999999403953552, 0.9689348936080933]","[10, 8]"

In [5]:
display(eval_dataset)
display(by_keys)

,gold,pred,mean_bleu,mean_bert,mean_gpt_score,mean_rouge1,mean_rouge2,mean_rougeL,mean_rougeLsum,missing_keys_count,extra_keys_count,common_none_count,gold_none_count,pred_none_count,common,total
0,"{'key1': 'value1', 'key2': 'None', 'key3': {'s...","{'key1': 'different_value1', 'key3': {'sub_key...",0.0,0.926776,5.5,0.833333,0.500000,0.833333,0.833333,1,0,0,2,0,2,4
1,"{'key1': 'None', 'key2': 'value2', 'key3': {'s...","{'key1': 'None', 'key2': 'different_value2', '...",0.0,0.881520,1.0,0.166667,0.000000,0.166667,0.166667,2,2,1,1,0,4,6
2,"{'key1': 'value3', 'key2': 'None', 'key3': {'s...","{'key1': 'Modified_value3', 'key2': 'None', 'k...",0.0,0.923538,9.5,0.833333,0.500000,0.833333,0.833333,1,0,1,1,0,2,4
3,"{'key1': 'None', 'key2': 'value4', 'key3': {'s...","{'key2': 'Modified_value4', 'key3': {'sub_key2...",0.0,0.891786,5.0,0.533333,0.000000,0.533333,0.533333,2,0,0,2,0,2,4
4,"{'key1': 'value5', 'key2': 'None', 'key3': {'s...","{'key1': 'value5', 'key2': 'None', 'key3': {'s...",0.0,0.984067,9.0,0.900000,0.333333,0.900000,0.900000,1,0,1,1,0,2,4
5,"{'key1': 'None', 'key2': 'value6', 'key3': {'s...","{'key1': 'None', 'key2': 'Modified_value6', 'k...",0.0,0.879643,3.5,0.166667,0.000000,0.166667,0.166667,2,2,1,1,0,4,6
6,"{'key1': 'value7', 'key2': 'None', 'key3': {'s...","{'key1': 'Modified_value7', 'key3': {'sub_key1...",0.0,0.925611,8.5,0.833333,0.500000,0.833333,0.833333,1,0,0,2,0,2,4
7,"{'key1': 'None', 'key2': 'value8', 'key3': {'s...","{'key2': 'value8', 'key3': {'sub_key1': 'Modif...",0.0,0.942621,5.5,0.500000,0.000000,0.500000,0.500000,2,0,0,2,0,2,4
8,"{'key1': 'value9', 'key2': 'None', 'key3': {'s...","{'key1': 'value9', 'key2': 'None', 'key3': {'s...",0.0,0.985100,9.0,0.900000,0.333333,0.900000,0.900000,1,0,1,1,0,2,4
9,"{'key1': 'None', 'key2': 'value10', 'key3': {'...","{'key2': 'value10', 'key3': {'sub_key2': 'Modi...",0.0,0.984467,9.0,0.900000,0.333333,0.900000,0.900000,2,0,0,2,0,2,4

,bleu,bert,gpt_score,rouge1,rouge2,rougeL,rougeLsum,gold_none_prop,pred_none_prop,missing_keys_prop
keys,,,,,,,,,,
key1,0.0,0.910371,7.4,0.80,0.000000,0.80,0.80,0.3,0.0,0.3
key2,0.0,0.910865,6.2,0.80,0.000000,0.80,0.80,0.2,0.0,0.2
key3/sub_key1,0.0,0.987667,9.2,0.92,0.866667,0.92,0.92,0.5,0.0,0.4
key3/sub_key2,0.0,0.910865,4.2,0.24,0.133333,0.24,0.24,0.5,0.0,0.6
key4/sub_key1,0.0,0.903269,1.0,0.00,0.000000,0.00,0.00,0.0,0.0,0.0
key4/sub_key2,0.0,0.883608,1.5,0.00,0.000000,0.00,0.00,0.0,0.0,0.0